{% extends "base.html" %}
{% block content %}

<h2> Classes</h2>
<div class=client_container>
    {% for lesson in classes %}
    <div class="client_list">
        <div class="individual_client">
            <a href="/classes/{{lesson.id}}">
                <h3> {{lesson.activity}}</h3>
                <h4>{{lesson.lesson_date}}</h4>
                <p>
                    {{lesson.lesson_time}} <br>
                    {{lesson.duration}} minutes<br>
                    {{lesson.capacity}} spaces remaining
                </p>
            </a>
        </div>
    </div>

    {% endfor %}

    {% endblock %}