* {
    padding: 0;
    margin: 0;
    font-family: Oswald, Roboto;
}

header {
    background-color: #1d3557;
    color: white;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

header h1 {
    font-size: 3em;
    color: white;
}

header a {
    text-decoration: none;
}

#header_bottom {
    height: 40px;
    width: 100%;
    object-fit: fill;
}

.menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1d3557;
}

.menu_container ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.menu_container ul li {
    position: relative;
    list-style: none;
}

.menu_container ul li a {
    position: relative;
    font-size: 5em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 0 0 #1d3557, 0 0 4px white;
}

.menu_container ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    border-right: 8px solid white;

}

.menu_container ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px white);

}

#subheader_nav {
    display:flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

#subheader_nav ul{
    display:flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 3em;
}

#subheader_nav ul li{
    position: relative;
    list-style: none;
}

#subheader_nav ul li a {
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    text-shadow:0 0 0 lightgrey;
    transition: ease-in-out 0.5;
}

#subheader_nav ul li a:hover {
    text-shadow:0 0 0 #ffffff, 0 0 4px #ffffff;
    color: gold;
}