* {
    padding: 0;
    margin: 0;
    font-family: Oswald, Roboto;
}

body{
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 38%, rgba(29,53,87,1) 91%); 
    background-attachment: fixed;
}

#front_page_header{
    color: white;
    font-size: 4em;
    padding-left: 1em;
    padding-top: 0.5em;
}

header {
    background-color: #1d3557;
    color: white;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position: sticky;
    top:0;
    z-index:999;
}

header h1 {
    font-size: 3em;
    color: white;
}

header a {
    text-decoration: none;
}

#header_bottom {
    height: 40px;
    width: 100%;
    object-fit: fill;
}

.menu_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1d3557;
}

.menu_container ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-bottom:10%;


}

.menu_container ul li {
    position: relative;
    list-style: none;
}

.menu_container ul li a {
    position: relative;
    font-size: 3em;
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 0 0 #1d3557, 0 0 4px white;
}

.menu_container ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: white;
    width: 0;
    overflow: hidden;
    transition: 0.5s;
    border-right: 8px solid white;

}

.menu_container ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px white);

}

#subheader_nav {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 100%;
}

#subheader_nav ul {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 3em;
}

#subheader_nav ul li {
    position: relative;
    list-style: none;
}

#subheader_nav ul li a {
    position: relative;
    font-size: 1.5em;
    font-weight: 400;
    text-decoration: none;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: transparent;
    text-shadow: 0 0 0 lightgray;
    transition-duration: 0.5s;
}

#subheader_nav ul li a:hover {
    color: white;
    font-size: 2em;

}

main {
    padding: 1em;
    /* background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 60%, rgba(29,53,87,1) 91%); 
    background-attachment: fixed;
    background-repeat: no-repeat; */
}

.searches {
    display: flex;
    padding-left: 2em;
    padding-right:1em%;
    padding-top: 0;
    padding-bottom: 1.5em; 
}

.searches div {
    padding-right:3em;
}

.client_container{
    display: flex;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    justify-content: center;
}
.client_list {
    padding-right:4em;
}

.individual_client {
    border: 3px groove #ccc;
    width: 300px;
    min-height: 68px;
    padding: 20px;
    padding-left: 1em;
    padding-right: 2em;
    line-height: 18px;
    margin-bottom: 10px;
    flex-direction:row;
    background-color: white;
}

.individual_client a {
    text-decoration: none;
    color:#1d3557;
    text-align: right;
    flex: content;
}

.individual_client a h3{
    text-align: left;
}
.individual_client a h4{
    text-align: left;
}

.subheader {
    display: flex;
    gap:3em;
}

.subheader a button {
    height: 5em;
    width: 12em;
    background-color: #1d3557;
    border-radius: 14px;
    color: white;
}

.delete_button_box {
    display: flex;
    justify-items: right;
}

.delete_button_box a button{
    background-color: red;
    color: black;
    font-weight: bold;
    height: 3em;
    width: 8em;
    border-radius: 14px;
    
}

.delete_button a button{
    background-color: red;
    color: black;
    font-weight: bold;
    height: 5em;
    width: 12em;
    border-radius: 14px;
    
    }

.delete_client_button{
    background-color: red;
    color: black;
    font-weight: bold;
    height: 7em;
    width: 15em;
    border-radius: 14px;
    font-size: xx-large;
}

.warning {
    font-size: xx-large;
    width:100%;
    text-align: center;
    padding-left:auto;
    padding-right: auto;
}

.single_form {
display: flex;
justify-content: center;
width: 100%;
padding-top: 5%;
letter-spacing: 0.3em;
font-size: larger;
line-height: 2.5em;
}

.form_box{
    padding: 1em;
    border: groove;
    background: white;
    align-items: center;

}

#confirmation_button {
    background-color: lightgreen;
    color: black;
    font-weight: bold;
    height: 5em;
    width: 12em;
    border-radius: 14px;
}

.no_capacity {
    background-image: url(/static/images/fully_booked.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.no_capacity a {
    text-align: left;
}

.lds-hourglass {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-hourglass:after {
    content: " ";
    display: block;
    border-radius: 50%;
    width: 0;
    height: 0;
    margin: 8px;
    box-sizing: border-box;
    border: 32px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: 1.2s infinite;
  }
  @keyframes lds-hourglass {
    0% {
      transform: rotate(0);
      animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
      transform: rotate(900deg);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
      transform: rotate(1800deg);
    }
  }
  