<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto&display=swap"
        rel="stylesheet">
    <title>The Fitness Factory</title>
</head>

<body>
    <header>
        <a href="/">
            <h1>The Fitness Factory</h1>
        </a>
        <nav id = subheader_nav>
            <ul>
                <li><a href="/clients">Client List</a></li>
                <li><a href="/classes"> Class List</a></li>
                <li><a href="/clients/new">Add New Client</a></li>
                <li><a href="/classes/new">Schedule New Class</a></li>
                <li><a href="/instructors">Instructors</a></li>
            </ul>
        </nav>
    </header>
    <img id=header_bottom src="/static/images/header_bottom_wave.jpg" alt="">
    <main>
        {% block content %}





        {% endblock %}
    </main>
</body>

</html>