<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"><link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Roboto&display=swap" rel="stylesheet"> 
    <title>The Fitness Factory</title>
</head>
<body>
    <header>
        <h1 id = front_page_header>The Fitness Factory</h1>
    </header>
    
    <nav class = menu_container>
        <ul>
            <li><a href="/clients" data-text="&nbsp;Clients&nbsp;">&nbsp;Clients&nbsp;</a></li>
            <li><a href="/classes" data-text="&nbsp;Classes&nbsp;">&nbsp;Classes&nbsp;</a></li>
            <li><a href="/clients/new" data-text="&nbsp;Add&nbsp;New&nbsp;Client&nbsp;">&nbsp;Add&nbsp;New&nbsp;Client&nbsp;</a></li>
            <li><a href="/classes/new" data-text="&nbsp;schedule&nbsp;New&nbsp;Class&nbsp;">&nbsp;schedule&nbsp;New&nbsp;Class&nbsp;</a></li>
            <!-- <li><a href="/instructors" data-text="&nbsp;Instructors&nbsp;">&nbsp;Instructors&nbsp;</a></li> -->
        </ul>
    </nav>
</body>
</html>

