{% extends "base.html" %}
{% block content %}

<div class=searches>
    <div>
        <h2> Search by client name </h2>
        <form action="/clients/searchname/" method="POST">
            <div>
                <label for="search term"></label>
                <input type="text" id="search term" name="term">
                <input type="submit">
            </div>
        </form>
    </div>
    <div>
        <h2> Search by email address:</h2>
        <form action="/clients/searchemail/" method="POST">
            <div>
                <label for="search term"></label>
                <input type="text" id="search term" name="term">
                <input type="submit">
            </div>
        </form>
    </div>

</div>

<div id="client_container">
{% for client in clients %}
<div class="client_list">
    <div class="individual_client">
        <a href="/bookings/{{client.id}}/{{lesson_id}}">
            <h3>{{client.name}}</h3>
            <p>Date of Birth: {{client.date_of_birth}} <br>
                Email Address: {{client.email_address}}
            </p>
        </a>

    </div>

</div>
{% endfor %}
</div>

{% endblock %}