{% extends "base.html" %}
{% block content %}

<div class=subheader>
    <div class=subhead_left>
    <h2>{{client.name}}</h2>
    <p>Date of Birth: {{client.date_of_birth}} <br>
        Email Address: {{client.email_address}}
    </p>
    </div>
    <div>
    <a href="classes/{{client.id}}"><button>Make a booking</button></a>
    </div>
    <div>
        <a href="{{client.id}}/update"><button>Update details</button></a>
        </div>
        <div class=delete_button>
            <a href="{{client.id}}/delete"><button>Delete client</button></a>
            </div>
</div>
<br><hr><br>
<div class = bookings>
    <h3>Current bookings</h3>
    <div class="individual_booking">
        {% for lesson in lessons %} 
         <h4>{{lesson.activity}}</h4>
         <p> {{lesson.lesson_date}} <br>
        {{lesson.lesson_time}} <br>
        {{lesson.duration}} minutes
        </p><hr>
        {% endfor %}
    </div>

</div>

{% endblock%}